    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>DAHA FAZLA BİLGİ</h2>
                    <p>Git terimleri hakkında daha fazla bilgi edinmek isterseniz eğer: </p>
                    <a href="https://medium.com/turkce/yeni-ba%C5%9Flayanlar-i%C3%A7in-git-101-ff7ea5b3eff9" class="btn btn-default btn-lg">BU SAYFAYA DA BAK</a>
                </div>
            </div>
        </div>
    </section>
