<header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading"><h4>SAADET YURT</h4>
                        <p class="intro-text">Heheey ben Saadet. Bilgisayar Mühendisliği 3. sınıf öğrencisiyim.Yazılım ile yolumun kesiştiği<br>
                                <p>vakitler her şeyden habersiz sessiz sakin takılıyordum, ta ki tanışana kadar. İlk 'Hello World!' ümü<br>
                                       <p>C dilinde yazdım ve de bugünlere kadar bir çok dilin tadına bakarak geldim .Hiç pişman değilim.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
