<header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading"><h4>SAADET YURT</h4>
                        <p class="intro-text">Heheey ben Saadet. Bilgisayar Mühendisliği 3. sınıf öğrencisiyim.Yazılım ile yolumun kesiştiği vakitler her şeyden habersiz sessiz sakin takılıyordum, ta ki tanışana kadar. İlk 'Hello World!' ümü C dilinde yazdım, o an ki mutluluk ve şaşkınlığımı sizlere de aktarmak isterdim.Bu sayfada bizlere 
                                    kolaylık sağlayacak her türlü bilgi olacaktır. <br>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
